/* Positioning of icons */
.block_course_overview_campus .hidecourseicon {
    float: right;
    margin-left: 20px;
}

.block_course_overview_campus .hidenewsicon {
    float: left;
}


/* Used for hiding courses and news in courselist */
.coc-hidden {
    display: none;
}


/* Hidden courses management */
#coc-hiddencoursesmanagement-bottom,
#coc-hiddencoursesmanagement-top {
    font-size: 90%;
    padding: 0.5em 0;
    text-align: center;
}

#coc-hiddencoursescount {
    color: darkred;
}


/* Filter item appearance */
#coc-filterlist {
    padding-bottom: 20px;
}

#coc-filterlist .coc-filter {
    font-size: 90%;
    text-align: center;
}

#coc-filtersubmit {
    text-align: center;
}

.jsenabled #coc-filtersubmit { /* Hide submit button when JS is enabled */
    display: none;
}


/* Course list appearance */
#coc-courselist .coursebox {
    margin-bottom: 5px;
    padding: 10px;
    width: inherit;
}

#coc-courselist .coursebox h3 {
    margin: 0;
    padding: 0 0 0 20px;
}

#coc-courselist .coc-metainfo {
    font-size: 85%;
    font-weight: normal !important;
    white-space: pre-wrap; /* To support multiple whitespaces before and after pipe */
}


/* Course news appearance */
#coc-courselist .coc-coursenews {
    border-left: 1px dashed grey;
    margin: 10px 0 0 30px;
    padding: 0 0 0 10px;
}

#coc-courselist .coursebox .iconlarge {
    float: left;
}

#coc-courselist .coursebox .overview .name {
    font-size: inherit;
    margin: 0;
}

#coc-courselist .coursebox .overview .info,
#coc-courselist .coursebox .overview .details  {
    margin: 0;
    width: 100%;
}

#coc-courselist .coursebox .overview {
    margin: 0 0 10px 34px;
}

#coc-courselist .coursebox .overview:last-child {
    margin-bottom: 0;
}

#coc-courselist .coursebox .coc-module {
    margin-bottom: 20px;
}

#coc-courselist .coursebox .coc-module:last-child {
    margin-bottom: 0;
}
